.fields{
    width: 900px;
    margin: 50px auto;
    font-size: 20px;
}

.specialchar{
    color: #ef7355;
}

.input-box{
    padding: 10px;
}

.instruction{
    padding: 10px 10px 20px 10px;
}

input{
    border-radius: 10px;
    height: 40px;
    width: 250px;
    background-color: #b3e283;
    border: none;
	display:inline-block;
    font-size: 15px;
}

#phone{
    border-radius: 10px;
    height: 40px;
    width: 300px;
    background-color: #b3e283;
    border: none;
    display: inline-block;
}

#question{
    height: 150px;
    width: 300px;
}

label{
	display:inline-block;
	width: 30%;
	text-align: left;
	margin-right:20px;
}

.buttons{
    text-align: center;
    margin: 20px 0px 0px 50px;
}

.send{
    width: 150px;
    background-color: #006d3c;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.send:active{
    background-color: #004d2b;
}

.reset{
    width: 100px;
    background-color: #b3e283;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.reset:active{
    background-color: #91c15c;
}

#error-message{
    color: #ef7355; 
    text-align: center;
}

.phone_container{
    float: right;
    position: relative;
  }
  
  .img_phone{
    width: 250px;
    display: block;
  }

  #display{
    position: absolute;
    width: 110px;
    height: 30px;
    top: 80px; 
    left: 70px;
    background-color: white;
    color: black;
}
  
  .numbers_container{
    position: absolute;
    top: 140px; 
    left: 70px; 
    width: 110px;  
    height: 175px; 
  }

  #number0, #number1, #number2, #number3, #number4, #number5, #number6, #number7, #number8, #number9, #ok{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent; 
    transition: all 0.3s;
  }

  #number0:hover, #number1:hover, #number2:hover, #number3:hover, #number4:hover, #number5:hover, #number6:hover, #number7:hover, #number8:hover, #number9:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    background: rgba(255,255,255,0.3); 
  }
  
#number1{ 
    top: 0; 
    left: 0; 
}

#number2{ 
    top: 0; 
    left: 40px; 
}
  
#number3{ 
    top: 0; 
    left: 80px; 
}

#number4{ 
    top: 38px; 
    left: 0; 
}
  
#number5{ 
    top: 38px; 
    left: 40px; 
}


#number6{ 
    top: 38px; 
    left: 80px; 
}
  
#number7{ 
    top: 75px; 
    left: 0; 
}

#number8{ 
    top: 75px; 
    left: 40px; 
}

#number9{ 
    top: 75px; 
    left: 80px; 
}

#number0{ 
    top: 110px; 
    left: 40px; 
}

.buttons_container{
    position: absolute;
    top: 287px; 
    left: 110px; 
    width: 110px;  
    height: 30px; 
  }
  
#ok{ 
    top: 0px; 
    left: 0px; 
}

#delete{
    top: 10px; 
    left: 50px; 
    position: absolute;
    width: 10px;
    height: 10px;
    background: transparent; 
    transition: all 0.3s;
}

#ok:hover{
    box-shadow: 0 0 10px rgba(42, 42, 42, 0.4);
    background: rgba(34, 255, 0, 0.3); 
}

.arrow{
    width: 70px;
    float: right;
}
  