.image-container{
  position: relative;
  display: inline-block;
  width: 100%;
}

.image-container img{
  display: block;
  opacity: 0.5;
  width: 100%;
  height: 200px;
}

.explanation{
  position:absolute;
  margin-top: 130px;
  top: 20px; 
  left: 20px;
  right: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.slide1 img{
  width: 450px; 
  height: 300px; 
  display: block; 
  margin: 0 auto;
}

.slides-wrapper1{
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  margin: 100px 70px;
}

.slide1,.slide2, .slide3, .slide4{
  width: 470px;
  background-color: #006d3c;
  color: white;
  padding: 20px;
}

.slide1{
  transform: rotate(-10deg);
}

.slide2{
  margin-top: 20px;
}

.slide2 li, .slide3 li{
  list-style: disc;
  padding: 5px;
  margin-left: 20px;
}

.slide1, .slide4{
  background-color: #004d2b;
}

.slide2, .slide3{
  box-shadow: 4px 4px 10px rgba(0, 64, 0, 0.5);
}

.slides-wrapper2{
  display: flex;
  justify-content:space-evenly;
  align-items: flex-start;
  margin: 100px 70px 20px 70px;
}

.slide4 img{
  width: 400px;
  height: 500px;
  display: block; 
  margin: 0 auto;
}

.slide4{
  width: 400px;
  transform: rotate(18deg);
}

.slide5{
  width: 700px;
  background-color: #006d3c;
  display: block; 
  margin: 0 auto;
  margin-bottom: 80px;
}

.slide5 img{
  width: 680px;
  padding: 10px;
  display: block; 
  margin: 0 auto;
}